{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="color: aliceblue;">
    <h2 class="h2-base">{{ action }} Producto</h2>
    <br>
    <div class="form-card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row">
                {% for field in form %}
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="form-error">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="mt-4">
                <div class="header-row-child">
                    <button type="submit" class="btn btn-outline-primary mx-3">Guardar</button>
                    <a href="{% url 'producto_list' %}" class="btn btn-outline-secondary mx-3">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}